<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bindStatus</key>
		<string>1</string>
		<key>city</key>
		<string>平顶山市</string>
		<key>county</key>
		<string>卫东区</string>
		<key>emchatID</key>
		<string>023ca9d3b7f74c1bbc0731d06f3b04bf</string>
		<key>familyEmchatID</key>
		<string>023ca9d3b7f74c1bbc0731d06f3b04bf</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>a9d0155e90f849abad11961b0fac99d6</string>
				<key>familyEmchatID</key>
				<string>023ca9d3b7f74c1bbc0731d06f3b04bf</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>6</string>
				<key>indentityCard</key>
				<string>510503197807154229</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>52f447870c0c46d58cbb86fbafb7092d</string>
				<key>userNickName</key>
				<string>aaaa</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>7a4b0493fbd8444a87a559ff44efca64</string>
				<key>familyEmchatID</key>
				<string>023ca9d3b7f74c1bbc0731d06f3b04bf</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>3</string>
				<key>indentityCard</key>
				<string>510623197307181694</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/men.png</string>
				<key>userID</key>
				<string>a06edee9ae0f4fa4a7ebf4691ef637c5</string>
				<key>userNickName</key>
				<string>23123</string>
				<key>userPhone</key>
				<string>15690885157</string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>4abc2ed1b5474a9d9d3a4fc42959abc9</string>
				<key>familyEmchatID</key>
				<string>023ca9d3b7f74c1bbc0731d06f3b04bf</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>361129197810017924</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>f43db0de3c804893993b73ba01c9ac0e</string>
				<key>userNickName</key>
				<string>34</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
		</array>
		<key>followReason</key>
		<string>4,5</string>
		<key>indentityCard</key>
		<string>410482198804138129</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>1</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>五一路街道</string>
		<key>userHeadPic</key>
		<string>/upload/men.png</string>
		<key>userID</key>
		<string>a7bc47f66d1544509b4050aad2a44b0a</string>
		<key>userNickName</key>
		<string>测试7</string>
		<key>userPhone</key>
		<string>17320165837</string>
		<key>userSex</key>
		<string>0</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>五一路街道本级</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>信阳市</string>
		<key>county</key>
		<string>浉河区</string>
		<key>emchatID</key>
		<string>17ede0fc523b461ba49dc201b77c4301</string>
		<key>familyEmchatID</key>
		<string>17ede0fc523b461ba49dc201b77c4301</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array/>
		<key>followReason</key>
		<string>3</string>
		<key>indentityCard</key>
		<string>411</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>1</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>浉河区</string>
		<key>userHeadPic</key>
		<string>/upload/men.png</string>
		<key>userID</key>
		<string>fbc993a40d7c4551bd2e80787e4adb82</string>
		<key>userNickName</key>
		<string>hh</string>
		<key>userPhone</key>
		<string>15633333333</string>
		<key>userSex</key>
		<string>0</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>民政局机关</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>信阳市</string>
		<key>county</key>
		<string>郏县</string>
		<key>emchatID</key>
		<string>3518ecb97d5f4918aa14c10e1d56a3da</string>
		<key>familyEmchatID</key>
		<string>3518ecb97d5f4918aa14c10e1d56a3da</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>f6219ff733fd48689f9995a2d79008da</string>
				<key>familyEmchatID</key>
				<string>3518ecb97d5f4918aa14c10e1d56a3da</string>
				<key>familyName</key>
				<string>母亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>1</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/user/20170121103812731.jpg</string>
				<key>userID</key>
				<string>4a70ece29f05400290a323bc5412c4b7</string>
				<key>userNickName</key>
				<string>声声不喜</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>7381ecc7a2b14177a79257c4508d57fb</string>
				<key>familyEmchatID</key>
				<string>3518ecb97d5f4918aa14c10e1d56a3da</string>
				<key>familyName</key>
				<string>母亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>4444</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string></string>
				<key>userID</key>
				<string>4b1662ca1b8e4647bafb398fb7142ca0</string>
				<key>userNickName</key>
				<string>4444</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string></string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>6e58f64d46f74c34b770e0d7165d1dd7</string>
				<key>familyEmchatID</key>
				<string>3518ecb97d5f4918aa14c10e1d56a3da</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>22</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string></string>
				<key>userID</key>
				<string>b9b29908011d4484820355e746be4a21</string>
				<key>userNickName</key>
				<string>莉莉</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>628f3204ea1f4a3db649b93eba47065a</string>
				<key>familyEmchatID</key>
				<string>3518ecb97d5f4918aa14c10e1d56a3da</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>6</string>
				<key>indentityCard</key>
				<string>333</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/user/20161230092938788.jpg</string>
				<key>userID</key>
				<string>d07e70602aef474ab5e405f38755e8c9</string>
				<key>userNickName</key>
				<string>多多</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
		</array>
		<key>followReason</key>
		<string>1,2,3</string>
		<key>indentityCard</key>
		<string>220283197807218532</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>1</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>堂街镇</string>
		<key>userHeadPic</key>
		<string>/upload/men.png</string>
		<key>userID</key>
		<string>9d3e3d34cf5e46609a04b3beba3132ef</string>
		<key>userNickName</key>
		<string>安琪</string>
		<key>userPhone</key>
		<string>18937185651</string>
		<key>userSex</key>
		<string>0</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>孟庄村</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>济源市</string>
		<key>county</key>
		<string>济源市</string>
		<key>emchatID</key>
		<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
		<key>familyEmchatID</key>
		<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>21fe5d02c4574a5fa0d78fe25817be32</string>
				<key>familyEmchatID</key>
				<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>1,6</string>
				<key>indentityCard</key>
				<string>440901197709194316</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/men.png</string>
				<key>userID</key>
				<string>4cf7b2813c39425080535e525ab3b0a8</string>
				<key>userNickName</key>
				<string>custo</string>
				<key>userPhone</key>
				<string>15637283940</string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>4f91cf5f4559481b84ddaf34be2106e6</string>
				<key>familyEmchatID</key>
				<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
				<key>familyName</key>
				<string>母亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>1,2,3,5,6</string>
				<key>indentityCard</key>
				<string>520302198912128427</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>a0f5aba143e3431189b37fde8fb4c893</string>
				<key>userNickName</key>
				<string>黄兰雅</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>8ec0b960314a4c3cae1e4108ec0fcb7b</string>
				<key>familyEmchatID</key>
				<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
				<key>familyName</key>
				<string>儿子</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>410122100000000000</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>c26bbd71cdb348c5b5428cbeb238734c</string>
				<key>userNickName</key>
				<string>张红</string>
				<key>userPhone</key>
				<string>18027364859</string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>ad45d2f145d747d78e1eaa116cb522ab</string>
				<key>familyEmchatID</key>
				<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>5622</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string></string>
				<key>userID</key>
				<string>c9b9e13c11514538a4a6881cdeeb0cab</string>
				<key>userNickName</key>
				<string>34</string>
				<key>userPhone</key>
				<string>15169874563</string>
				<key>userSex</key>
				<string></string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>dcfac586629d4cbeb01934aa9406e66f</string>
				<key>familyEmchatID</key>
				<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>5629</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string></string>
				<key>userID</key>
				<string>e84473e8176f4a26895cb92d1b0ec314</string>
				<key>userNickName</key>
				<string>海涛</string>
				<key>userPhone</key>
				<string>18936472837</string>
				<key>userSex</key>
				<string></string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>486bc2f3695b4292a711593763bd5a5f</string>
				<key>familyEmchatID</key>
				<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>370125197006093964</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>e867ecce4cdd4ad29442464096adf439</string>
				<key>userNickName</key>
				<string>666</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>f739cc8064a64cf1946ba44a184638c3</string>
				<key>familyEmchatID</key>
				<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
				<key>familyName</key>
				<string>孙女</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>6</string>
				<key>indentityCard</key>
				<string>330303197009144208</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>fd6cb4a0e53e43f9ad302fde197814fc</string>
				<key>userNickName</key>
				<string>韦拉</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>3815a1cc197149c89d2632c1eec6cc41</string>
				<key>familyEmchatID</key>
				<string>4e9be53c8be340eaa0b9d772a42d1d77</string>
				<key>familyName</key>
				<string>女儿</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>4561</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string></string>
				<key>userID</key>
				<string>fe214bc6eef44976bef867f465246a93</string>
				<key>userNickName</key>
				<string>公主</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string></string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
		</array>
		<key>followReason</key>
		<string></string>
		<key>indentityCard</key>
		<string>22222222</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>0</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>思礼镇</string>
		<key>userHeadPic</key>
		<string>/upload/men.png</string>
		<key>userID</key>
		<string>cb047387e7804b22ba5c80c02c30c50d</string>
		<key>userNickName</key>
		<string>丽丽娟</string>
		<key>userPhone</key>
		<string>15136465000</string>
		<key>userSex</key>
		<string>1</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>西宋庄村</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>济源市</string>
		<key>county</key>
		<string>济源市</string>
		<key>emchatID</key>
		<string>50054</string>
		<key>familyEmchatID</key>
		<string>50054</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>06c223b06e8840d6a3d5f6c7b56bdbc7</string>
				<key>familyEmchatID</key>
				<string>50054</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>6</string>
				<key>indentityCard</key>
				<string>440883198109257524</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>03860c77c020485aa55bb5227b831950</string>
				<key>userNickName</key>
				<string>小明</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>d3bdd5252879425c92cd8c45dc4ae951</string>
				<key>familyEmchatID</key>
				<string>50054</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>65岁</string>
				<key>indentityCard</key>
				<string>330901198006170042</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>0e5ccbd8c1fd482d9624288f2366ded4</string>
				<key>userNickName</key>
				<string>贝瓦</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>8ea9b86e03bf40ea9e00b3106e0f0fcb</string>
				<key>familyEmchatID</key>
				<string>50054</string>
				<key>familyName</key>
				<string>其他</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>2</string>
				<key>indentityCard</key>
				<string>412327195403236251</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/men.png</string>
				<key>userID</key>
				<string>715d212085ee4b7fb35038dd1f22b2ac</string>
				<key>userNickName</key>
				<string>555</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>d1e117d55d45426f9e92559176a84dda</string>
				<key>familyEmchatID</key>
				<string>50054</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>6</string>
				<key>indentityCard</key>
				<string>520321197408115517</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/men.png</string>
				<key>userID</key>
				<string>7235e52b9b9142d58253457bc0a959fb</string>
				<key>userNickName</key>
				<string>111</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>1e8217f4b6d746afa54708bf8eea02de</string>
				<key>familyEmchatID</key>
				<string>50054</string>
				<key>familyName</key>
				<string>母亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>2</string>
				<key>indentityCard</key>
				<string>510226196901220265</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>a2011d2959c044afbcd1205a8794e938</string>
				<key>userNickName</key>
				<string>李莉</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>ee77b239662042979e0806f5897cb4c4</string>
				<key>familyEmchatID</key>
				<string>50054</string>
				<key>familyName</key>
				<string>儿子</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>6</string>
				<key>indentityCard</key>
				<string>320503198311219729</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/men.png</string>
				<key>userID</key>
				<string>b8c9677345d14a3e8f118d024b118ed7</string>
				<key>userNickName</key>
				<string>大象</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
		</array>
		<key>followReason</key>
		<string>1,2,5</string>
		<key>indentityCard</key>
		<string>372926198812028178</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>1</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>克井镇</string>
		<key>userHeadPic</key>
		<string>/upload/men.png</string>
		<key>userID</key>
		<string>83</string>
		<key>userNickName</key>
		<string>安小明</string>
		<key>userPhone</key>
		<string>15811302023</string>
		<key>userSex</key>
		<string>1</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>勋掌金水村</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>三门峡市</string>
		<key>county</key>
		<string>湖滨区</string>
		<key>emchatID</key>
		<string>50056</string>
		<key>familyEmchatID</key>
		<string>50056</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>778ca4bd131248a0a9c4bb5eaa21fd92</string>
				<key>familyEmchatID</key>
				<string>50056</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>6</string>
				<key>indentityCard</key>
				<string>440307199201153155</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/men.png</string>
				<key>userID</key>
				<string>4eb589d87c4942ef9ddedcf8a8649242</string>
				<key>userNickName</key>
				<string>小222</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>5c5024e624024e4e98d2a16cd32dfe9b</string>
				<key>familyEmchatID</key>
				<string>50056</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>460005197003113633</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/men.png</string>
				<key>userID</key>
				<string>a440a28548104233b91cd24c90fc444a</string>
				<key>userNickName</key>
				<string>小11</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
		</array>
		<key>followReason</key>
		<string>1,3</string>
		<key>indentityCard</key>
		<string>441284197509283721</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>1</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string></string>
		<key>userHeadPic</key>
		<string>/upload/women.png</string>
		<key>userID</key>
		<string>85</string>
		<key>userNickName</key>
		<string>狂风</string>
		<key>userPhone</key>
		<string>18638628655</string>
		<key>userSex</key>
		<string>1</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>开发区街道办事处</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>开封市</string>
		<key>county</key>
		<string>开发区</string>
		<key>emchatID</key>
		<string>50178</string>
		<key>familyEmchatID</key>
		<string>50178</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>c7202784b4f24f949c9571fb71b5293e</string>
				<key>familyEmchatID</key>
				<string>50178</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>411111111111111111</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>1</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/user/20161014141839263.jpg</string>
				<key>userID</key>
				<string>85d58cd3d88c4e869578200cc5a021bb</string>
				<key>userNickName</key>
				<string>晨晨</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string></string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>d7dc1a73414d4087bd1a01b052c0631e</string>
				<key>familyEmchatID</key>
				<string>50178</string>
				<key>familyName</key>
				<string>女儿</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string>41140311221573</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>1</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/men.png</string>
				<key>userID</key>
				<string>b6f6416f646c4beeaa320145ee6190ad</string>
				<key>userNickName</key>
				<string>菠萝</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
		</array>
		<key>followReason</key>
		<string>1,2,3,4,5</string>
		<key>indentityCard</key>
		<string>41293</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>1</string>
		<key>isPoor</key>
		<string>1</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>开发区街道办事处</string>
		<key>userHeadPic</key>
		<string>/upload/user/20160921095535914.jpg</string>
		<key>userID</key>
		<string>179</string>
		<key>userNickName</key>
		<string>陈博罗</string>
		<key>userPhone</key>
		<string>13721409116</string>
		<key>userSex</key>
		<string>1</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>开发区街道办事处</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>焦作市</string>
		<key>county</key>
		<string>马村区</string>
		<key>emchatID</key>
		<string>50323</string>
		<key>familyEmchatID</key>
		<string>50323</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>d5039bb84a9d4be19c490be2459f9f05</string>
				<key>familyEmchatID</key>
				<string>50323</string>
				<key>familyName</key>
				<string>父亲</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string>6</string>
				<key>indentityCard</key>
				<string>31011619841218616X</string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>1</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string>/upload/women.png</string>
				<key>userID</key>
				<string>73083245f8854d399271ec61a523cb57</string>
				<key>userNickName</key>
				<string>小花</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>1</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
		</array>
		<key>followReason</key>
		<string></string>
		<key>indentityCard</key>
		<string></string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>0</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>冯营街道</string>
		<key>userHeadPic</key>
		<string>/upload/user/20160714092605904.jpg</string>
		<key>userID</key>
		<string>261</string>
		<key>userNickName</key>
		<string>冬天的菊花</string>
		<key>userPhone</key>
		<string>15837159068</string>
		<key>userSex</key>
		<string>1</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>冯营街道本级</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>三门峡市</string>
		<key>county</key>
		<string>湖滨区</string>
		<key>emchatID</key>
		<string>5d0ef8709ee4463ba7005e9430ce83b9</string>
		<key>familyEmchatID</key>
		<string>5d0ef8709ee4463ba7005e9430ce83b9</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array/>
		<key>followReason</key>
		<string></string>
		<key>indentityCard</key>
		<string>34152119801202008X</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>0</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>开发区街道办事处</string>
		<key>userHeadPic</key>
		<string>/upload/women.png</string>
		<key>userID</key>
		<string>138b0f0a37a740faa45f978bdcbcb8b0</string>
		<key>userNickName</key>
		<string>wwwww</string>
		<key>userPhone</key>
		<string></string>
		<key>userSex</key>
		<string>1</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>开发区街道办事处</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>郑州市</string>
		<key>county</key>
		<string>金水区</string>
		<key>emchatID</key>
		<string>89cf11529b6147ffaabff1bbd9017532</string>
		<key>familyEmchatID</key>
		<string>89cf11529b6147ffaabff1bbd9017532</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array>
			<dict>
				<key>bindStatus</key>
				<string></string>
				<key>city</key>
				<string></string>
				<key>county</key>
				<string></string>
				<key>emchatID</key>
				<string>1fbf6245f05742bd9d1f02fd83df27a6</string>
				<key>familyEmchatID</key>
				<string>89cf11529b6147ffaabff1bbd9017532</string>
				<key>familyName</key>
				<string>丈夫</string>
				<key>familyUsers</key>
				<array/>
				<key>followReason</key>
				<string></string>
				<key>indentityCard</key>
				<string></string>
				<key>isDoctor</key>
				<string>0</string>
				<key>isFollow</key>
				<string>0</string>
				<key>isPoor</key>
				<string>0</string>
				<key>province</key>
				<string></string>
				<key>town</key>
				<string></string>
				<key>userHeadPic</key>
				<string></string>
				<key>userID</key>
				<string>6afa79de99c847f48d583b493d336ec4</string>
				<key>userNickName</key>
				<string>Dafs</string>
				<key>userPhone</key>
				<string></string>
				<key>userSex</key>
				<string>0</string>
				<key>userType</key>
				<string>YJJK_USER</string>
				<key>village</key>
				<string></string>
			</dict>
		</array>
		<key>followReason</key>
		<string>6</string>
		<key>indentityCard</key>
		<string>411381199006124550</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>1</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>东风路街道</string>
		<key>userHeadPic</key>
		<string>/upload/men.png</string>
		<key>userID</key>
		<string>412afbb3cdd64577a233275e73a01b0c</string>
		<key>userNickName</key>
		<string>天空之城</string>
		<key>userPhone</key>
		<string>18037468290</string>
		<key>userSex</key>
		<string>1</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>科技市场社区</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>开封市</string>
		<key>county</key>
		<string>开发区</string>
		<key>emchatID</key>
		<string>ddbc08cac3f647a08c306a0c1e644ddd</string>
		<key>familyEmchatID</key>
		<string>ddbc08cac3f647a08c306a0c1e644ddd</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array/>
		<key>followReason</key>
		<string></string>
		<key>indentityCard</key>
		<string>341702197803301029</string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>0</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>开发区</string>
		<key>userHeadPic</key>
		<string>/upload/men.png</string>
		<key>userID</key>
		<string>21d04236d17a45baaff79676e16d3e16</string>
		<key>userNickName</key>
		<string>rr</string>
		<key>userPhone</key>
		<string></string>
		<key>userSex</key>
		<string>1</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>开发区本级</string>
	</dict>
	<dict>
		<key>bindStatus</key>
		<string></string>
		<key>city</key>
		<string>信阳市</string>
		<key>county</key>
		<string>光山县</string>
		<key>emchatID</key>
		<string>e8cae8a5fa9c4610842712bd247ebba5</string>
		<key>familyEmchatID</key>
		<string>e8cae8a5fa9c4610842712bd247ebba5</string>
		<key>familyName</key>
		<string></string>
		<key>familyUsers</key>
		<array/>
		<key>followReason</key>
		<string>1,2</string>
		<key>indentityCard</key>
		<string></string>
		<key>isDoctor</key>
		<string>0</string>
		<key>isFollow</key>
		<string>1</string>
		<key>isPoor</key>
		<string>0</string>
		<key>province</key>
		<string>河南省</string>
		<key>town</key>
		<string>殷棚乡</string>
		<key>userHeadPic</key>
		<string>/upload/user/20160827102826022.jpg</string>
		<key>userID</key>
		<string>a3a7f62bc6c44f25855342edc04a624d</string>
		<key>userNickName</key>
		<string>申凯</string>
		<key>userPhone</key>
		<string>18537100125</string>
		<key>userSex</key>
		<string>1</string>
		<key>userType</key>
		<string>YJJK_USER</string>
		<key>village</key>
		<string>长安村</string>
	</dict>
</array>
</plist>
